@import "tailwindcss";
@import "@nattstack/ui/tailwind-colors";
@import "@nattstack/ui/tailwind-colors-semantic";
@import "@nattstack/ui/tailwind-tokenless-10";
@import "@fontsource-variable/inter-tight/wght-italic.css";
@import "@fontsource-variable/inter/wght.css";

@theme {
  --font-\*: initial;
  --font-display: "Inter Tight Variable", sans-serif;
  --font-mono: monospace;
  --font-sans: "Inter Variable", sans-serif;
}

@layer base {
  /* Defaults */
  body {
    background-color: var(--color-bg-secondary);
    color: var(--color-text-secondary);
    font-family: var(--font-sans);
    font-size: 16px;
  }

  a,
  button {
    outline-color: var(--color-outline);
    outline-offset: -2px;
    outline-style: solid;
    outline-width: 0;
  }

  a:focus-visible,
  button:focus-visible {
    outline-width: 2px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-text-primary);
    font-family: var(--font-display);
  }
}

@layer utilities {
  .d {
    border: 2px dashed red;
  }
}
