@import "tailwindcss";
@import "@nattstack/ui/tailwind-colors";
@import "@nattstack/ui/tailwind-tokenless-10";
@import "@nattstack/ui/baseline";
@import "@fontsource-variable/inter-tight/wght.css";
@import "@fontsource-variable/inter/wght.css";
@import "@fontsource/commit-mono";

@theme {
  --font-\*: initial;
  --font-body: "Inter Variable", sans-serif;
  --font-code: "Commit Mono", monospace;
  --font-heading: "Inter Tight Variable", sans-serif;
}
