@import "tailwindcss";
@import "@nattstack/ui/tailwind-colors";
@import "@nattstack/ui/tailwind-tokenless-10";
@import "@fontsource-variable/inter-tight/wght-italic.css";
@import "@fontsource-variable/inter/wght.css";

@theme {
  --font-\*: initial;
  --font-display: "Inter Tight Variable", sans-serif;
  --font-mono: monospace;
  --font-sans: "Inter Variable", sans-serif;
}

@layer base {
  /* Defaults */
  body {
    background-color: var(--color-gray-2);
    color: var(--color-gray-11);
    font-family: var(--font-sans);
    font-size: 16px;
  }

  body.dark {
    background-color: var(--color-gray-1);
  }

  a,
  button {
    outline-color: var(--color-primary-9);
    outline-offset: -2px;
    outline-style: solid;
    outline-width: 0;
  }

  a:focus-visible,
  button:focus-visible {
    outline-width: 2px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-gray-12);
    font-family: var(--font-display);
  }
}

@layer utilities {
  .d {
    border: 2px dashed red;
  }

  .bg-primary {
    @apply bg-gray-1 dark:bg-gray-2;
  }

  .bg-secondary {
    @apply bg-gray-2 dark:bg-gray-1;
  }
}
